@import '/Documents/Git/roadtrip-2019/node_modules/codyhouse-framework/main/assets/css/style.scss'; //make sure to import the CodyHouse framework
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Fira+Sans:400,400italic'); // custom font

// --------------------------------

// Horizontal Timeline - by CodyHouse.co

// --------------------------------

:root {
  // colors
  @include defineColorHSL(--cd-color-1, 0, 0%, 22%);   // Mine Shaft
  @include defineColorHSL(--cd-color-2, 74, 93%, 32%); // Highland
  @include defineColorHSL(--cd-color-3, 0, 0%, 97%);   // Alabaster

  // font
  --font-primary: 'Fira Sans', sans-serif;
  --font-secondary: 'Playfair Display', serif;
}
html,
body {
  color: var(--cd-color-1);
  background-color: var(--cd-color-3);
  height: 100%;
  margin: 0;
}

.cd-h-timeline__main_title{
  font-family: var(--font-primary);
  color: var(--cd-color-1);
  font-size: var(--text-xl);
  font-weight: 500;
  padding-left: 1%;
  padding-top: 1%;
}

.cd-h-timeline__main_title_date{
  color: var(--cd-color-1);
  padding-left: 1%;
  font-style: italic;
  height: 5%;
}

.js {
  .cd-h-timeline {
    position: relative;
    opacity: 0;
    height: 77%;
    transition: opacity 0.2s;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .cd-h-timeline--loaded { // show the timeline after dates position has been set (using JavaScript)
    opacity: 1;
  }

  //holds entire timeline + nav arrows
  .cd-h-timeline__container {
    position: relative;
    height: 100%;
  }

  //contains entire set of points within timeline + lines
  .cd-h-timeline__dates {
    padding-left: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    // &::after, &::before { // these are used to create a shadow effect at the sides of the timeline
    //   content: '';
    //   position: absolute;
    //   z-index: 2;
    //   width: 2px;
    // }

    &::before {
      left: 0;
      background: linear-gradient(to right, var(--cd-color-3), alpha(var(--cd-color-3), 0));
    }

    &::after {
      right: 0;
      background: linear-gradient(to left, var(--cd-color-3), alpha(var(--cd-color-3), 0));
    }
  }

  .cd-h-timeline__line { // grey line
    position: relative;
    z-index: 1;
    height: 4px; // width will be set using JavaScript
    background-color: lightness(var(--cd-color-3), 0.9);
    transition: transform 0.4s;
  }

  .cd-h-timeline__filling-line { // green filling line
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: var(--cd-color-2);
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.4s;
  }

  .cd-h-timeline__date {
    position: absolute;
    bottom: 0; // left position will be set using JavaScript
    z-index: 2;
    text-align: center;
    font-size: 0.8em;
    padding-bottom: var(--space-sm);
    color: var(--cd-color-1);
    user-select: none; // improve swipe
    text-decoration: none;

    &::after { // this is used to create the event spot
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -5px;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      border-width: 2px;
      border-style: solid;
      border-color: lightness(var(--cd-color-3), 0.9);
      background-color: var(--cd-color-3);
      transition: background-color 0.3s, border-color .3s;
    }

    &:hover::after {
      background-color: var(--cd-color-2);
      border-color: var(--cd-color-2);
    }

    @include breakpoint(md) {
      font-size: 0.7em;
    }
  }

  .cd-h-timeline__date--selected {
    pointer-events: none;

    &::after {
      background-color: var(--cd-color-2);
      border-color: var(--cd-color-2);
    }
  }

  .cd-h-timeline__date--older-event::after {
    border-color: var(--cd-color-2);
  }

  .cd-h-timeline__navigation { // arrows to navigate the timeline
    content: '';
    position: absolute;
    z-index: 2;
    height: 32px;
    width: 32px;
    align-content: center;
    background: url(../img/cd-arrow.svg) no-repeat 8px 8px;
    visibility: hidden;
  }

  .cd-h-timeline__navigation--prev {
    left: 5%;
    transform:  rotate(180deg) scale(1.5, 1.5);
  }

  .cd-h-timeline__navigation--next {
    right: 5%;
    transform: scale(1.5, 1.5);
  }

  .cd-h-timeline__navigation--inactive {
    cursor: not-allowed;
  }

  .cd-h-timeline__events { // container of events info
    display: none;
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: height .4s;
  }

  .cd-h-timeline__event { // single event info
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    padding: 1px 5%;
    opacity: 0;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
  }

  .cd-h-timeline__event--selected { // selected event info
    position: relative;
    z-index: 2;
    opacity: 1;
    transform: translateX(0);
  }

  .cd-h-timeline__event--enter-right, 
  .cd-h-timeline__event--leave-right { // animate event info
    animation-name: cd-enter-right;
  }

  .cd-h-timeline__event--enter-left,  
  .cd-h-timeline__event--leave-left { // animate event info
    animation-name: cd-enter-left;
  }

  .cd-h-timeline__event--leave-right, 
  .cd-h-timeline__event--leave-left {
    animation-direction: reverse;
  }

  .cd-h-timeline__event-content {
    max-width: 800px;
  }

  .cd-h-timeline__event-title {
    color: var(--cd-color-1);
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: var(--text-xxxl);
  }

  .cd-h-timeline__event-date {
    display: block;
    font-style: italic;
    margin: var(--space-xs) auto;
  }
}

@keyframes cd-enter-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes cd-enter-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

html:not(.js) .cd-h-timeline__dates,
html:not(.js) .cd-h-timeline__navigation { // hide timeline dates if js is disabled
  display: none;
}